*{
    box-sizing: border-box;   
    margin:0; 
}
  h1, p{
    color: #721B72;
  }
  .navbar{
    background-color: #f1f1f1;
    width: 100%;
    padding: 10px;
  }
  .navbar-brand, .navbar-nav .nav-link {
    color: #721B72;
    font-weight: bold;
  }
  .navbar-toggler-icon{
    background-image: url("./images/list-fill.svg");
  }

  .btn-primary {
    margin-right: 10px;
  }

  .btn{
    margin: 5px;
  }

/* structure */
body{
    font-family: Arial, sans-serif;
    background-color: #B3E3E3;
    border: 1px solid black;
    display: table;
    margin: auto;
    min-height: 800px;
}

section{
    margin: 30px 0px;
    padding: 20px;
    font-size: 14pt;
}
section.main{
    float: left;
    width: 50%;
    min-width: 500px;
    display: flex; 
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: stretch;   
    border-right: 1px dotted black;
}
section.sidebar{
    float: right;
    width: 48%;    
    display: flex; 
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: stretch;   
}
th{
    color: white;
    font-weight: bold;
    background-color: #721B72;
    text-align: left;
}
table{
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}
tr, td, th{
    padding: 5px;
    border: 1px solid black;
    border-collapse: collapse;
}
div.data{
    flex: 1 0 100%;
}
div.button{
    display: flex; 
    flex-flow: row wrap;
}
div.button *{
    flex: 2 1 50px;
}

div.button span img{
    flex: 1 1 25px;
}
span img{
    min-width: 30px;
    max-width: 80px;
    width:50%;
}
table td img{
    min-width: 30px;
    max-width: 120px;
    width:50%;
}

div.highlight{
    flex: 1 0 100%;
    margin-bottom: 20px;
}
div.form{
    flex: 1 0 100%;
}

.addPetForm{    
    display: flex;
    flex-flow: row wrap;
}
#fieldsetForm{    
    flex: 1 1 600px;
}
#fieldsetForm > div{    
    display: flex;
    flex-flow: row wrap;
    margin: 10px;
}
#fieldsetForm > div >*{
    flex: 1 1 300px;
    
}

/**  form style **/

textarea {
    margin-top: 10px;
    height: 100px;
    width: 95%;
 }
 div#button {
    flex:1 1 100%;
    text-align: center;    
 }

 #fieldsetForm{
    margin: 10px;
}
.formTitle{
    padding: 5px 20px;
    background-color: #721B72;
    border-radius: 5px;
    color: snow;
}

 .addPetForm input,.addPetForm select{
    border-radius: 2px;
    margin-bottom: 2px;
}

.addPetForm input[type="submit"],.addPetForm input[type="reset"]{
    margin: 5px;
    width: 49%;
    line-height: 1.5em;
    font-weight: bold;
}

/* Other style */
.highlight{
    border-radius: 5px; 
    background-color: #721B72;
    padding: 15px;
    color:snow
}